@use "reset.scss";

// .dia {

// }

.ranking {
    background-image: url(../image/dia_back.png);
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    min-height: 200px;
    margin: 0px auto;
    padding: 71px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 2px;
    grid-template-areas: 
    "rank1_area"
    "rank2_area"
    "rank3_area"
    "rank4_area"
    "rank5_area";
    
    h4 {
        font-size: 20px;
        text-align: center;
        width: 80px;
        height: 23px;
        padding: 15px 10px;
        border: 1px solid #2e2e2e;border-radius: 5px;
        display: inline-block;
        margin: 6px;
        background-color: #fff;
    }

    .rank1_items {
        grid-area: rank1_area;
        display: flex;
        justify-content: center;
    }
    .rank2_items {
        grid-area: rank2_area;
        display: flex;
        justify-content: center;
    }
    .rank3_items {
        grid-area: rank3_area;
        display: flex;
        justify-content: center;
    }
    .rank4_items {
        grid-area: rank4_area;
        display: flex;
        justify-content: center;
    }
    .rank5_items {
        grid-area: rank5_area;
        display: flex;
        justify-content: center;
    }
}

