@use "reset.scss";

body {
    font-family: "Noto Sans Bold", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #2d2d2d;
    p {
        margin: 0;
    }
    background-color: #fbfbfb;
}

main {
    background-color: #fbfbfb;
    margin-top: 87px;
}

.container {
    width: 700px;
    padding: 0 30px;
    margin: 0 auto;
    // background-color: #ebf6f7;
}

a{
    text-decoration: none;
}

// ヘッダー
.header {
    height: 87px;
    background-color: #fff;
    border-bottom: 1px solid #ababab;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    inset: 0;
    margin: 0 auto;
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.logo_area {
    display: flex;
    align-items: flex-end;
    margin: 12px 0px;
    gap: 30px;
    p {
        font-size: 16px;
        // background-color: #e7e7eb;
        // border-bottom: 1px solid#2d2d2d;
        // border-radius: 50px;
        padding: 5px 10px;
    }
    .naiyou_a {
        color: #ffffff;
        background-color: #ababab;
        padding: 3px 25px;
        width: 132px;
    }
}

.buttom_start {
     /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    color: #ffffff;
    font-size: 16px;
    background-color: #FF5C5C;
    display: block;
    padding: 20px 15px;
    margin: 12px 0px;
    border-radius: 100px;
    transition: 0.2s;
    box-shadow: 0px 3px 3px 0 rgba($color: #000000, $alpha: 0.3);

    &:hover {
        background-color: white;
        color: #FF5C5C;
        border: 1px solid #FF5C5C;
        box-shadow: none;
    }
}


// トップ
.top_image_area {
    background-color: #D8DFDF ;
    .top_images {
        margin: 0 auto;
        width: 760px;
        position: relative;
        .top_en_massage {
            position: absolute;
            top: 13%;
            left: 10%;
            font-size: 28px;
        }
        .top_ja_massage {
            position: absolute;
            top: 25%;
            left: 11%;
            font-size: 15px;
            font-weight: lighter;
            color: #6c6c6c;
        }
    }
    img {
        width: 100%;
    }
}


// 検討ステップを選ぶ所
.step_select_area {
    margin: 50px 0px 0px;
    padding-bottom: 80px;
}

.step {
    padding: 20px 20px 15px;
    margin: 10px 0px 0px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba($color: #000000, $alpha: 0.3);
    border-radius: 30px;
    transition: 0.2s;

    &:hover {
        box-shadow: none;
        background-color: rgb(236, 236, 236);
    }

    .title_area {
        display: flex;
    }
    .number {
        font-size: 80px;
        line-height: 0.8;
        margin-right: 23px;
        margin-left: 5px;
        font-weight: bold;
    }

    .steplogo_area {
        width: 120px;
        img {
            width: 100%;
        }
    }

    a {
        /* ブラウザ特有のスタイルを無効に */
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        display: inline-block;
        padding: 0.6em 2em;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
        // font-weight: bold;
        margin: 15px 0px 0px 440px;
    }
}

.step_items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ababab;
}

.step_exp {
    padding: 10px 5px;
    width: 440px;
    text-align: center;
    p {
        padding: 2px 0.8em;
        margin: 0 auto;
        text-align: center;
        width: 100px;
        border-radius: 100px;
        font-size: 16px;
        color: #504f4f;
    }
    h3 {
        font-size: 24px;
        margin: 11px 0;
    }
}

// 各バッジと番号
.badge1 {
    background-color: #8ec63f80;
}
.number1 {
    color: #8ec63f80;
}

.badge2 {
    background-color: 	#d6df2380;
}
.number2 {
    color: 	#D7DF2380;
}

.badge3 {
    background-color: 	#F15A2980;
}
.number3 {
    color: 	#F15A2980;
}

.badge4 {
    background-color: #27AAE180;
}
.number4 {
    color: #27AAE180;
}

// 三角形
.triangle{
    border-top: 15px solid #ababab;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    width: 0px;
    height: 0px;
    margin: 0 auto;
    margin-top: 20px;
  }

// 各ステップのボタン
.btn1 {
    background-color: #8DC63F;
    border: 2px solid #8DC63F;
    transition: 0.2s;
    &:hover {
        box-shadow: none;
        background-color: #ffffff;
        color: #8DC63F;
    }
}
.btn2 {
    background-color: #d1db13;
    border: 2px solid #d1db13;
    transition: 0.2s;
    &:hover {
        box-shadow: none;
        background-color: #ffffff;
        color: #D7DF23;
    }
}
.btn3 {
    background-color: #F15A29;
    border: 2px solid #F15A29;
    transition: 0.2s;
    &:hover {
        box-shadow: none;
        background-color: #ffffff;
        color: #F15A29;
    }
}
.btn4 {
    background-color: #27AAE1;
    border: 2px solid #27AAE1;
    transition: 0.2s;
    &:hover {
        box-shadow: none;
        background-color: #ffffff;
        color: #27AAE1;
    }
}

.btn5 {
    background-color: #FF5C5C;
    border: 2px solid #FF5C5C;
    transition: 0.2s;
    &:hover {
        box-shadow: none;
        background-color: #ffffff;
        color: #FF5C5C;
    }
}
#step5 {
    margin: 50px 0px 30px;
    a{
        display: block;
        margin: 0 auto;
        width: 115px;
    }
}
.hidden {
    display: none;
}

// 終了した時のスタイル
.endstep {
    background-color: #ebebeb;
    a {
        // display: none;
        background-color: #ebebeb;
        color: #2d2d2d;
        &:hover {
            background-color: #ebebeb;
            color: #2d2d2d;
        }
    } 
    .step_items {
        border-bottom: none;
    }
}

// フッター
.footer {
    font-size: 12px;
    color: #999;
    display: block;
    background-color: #fbfbfb;
    text-align: center;
    padding: 5px 0px 30px;
}